body {
    background-color: rgb(0, 0, 0);
    color: white;
}

h1 {
    text-align: center;
    text-shadow: #04AA6D 0px 0px 20px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

sep {
    height: 50px;
    display: block;
}

.gameLink {
    width: 50%;
    border: 1px solid #04AA6D;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
}

.gameLink:hover {
    border: 3px solid #04AA6D;
    transform: scale(1.02);
    transition: all 0.1s ease-in-out;
}

.container {
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin: 10px;
    padding: 50px;
}